@import url(//fonts.googleapis.com/css?family=Marck+Script);

#gallery {
	font-size: 0;
}

div.pic {
	background: #aaa;
	/* width: 150px; height: 150px; */
	/* border: 1px solid #555; */
	display: inline-block;
  transition: all .35s ease-in-out;
	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
}

div.pic > div.img {
	width: 100%; height: 100%;
	background-position: center 0px;
	background-size: 100% 100%;
}

div.pic { position: relative; }
div.pic > div { position: absolute; bottom: 0; }
div.hl {	
	height: 2em;
	line-height: 2em;
	/* background: rgba(0,0,0,0.2); */
	color: white;
	font-size: 12px;
	padding: 0 10px 0 10px;
	text-shadow: 0px 0px 2px black;
	display: inline-block;
}

div.pic table { width: 100%; }
div.pic table tr td:last-child { text-align: right; }

.zeroWidth {
	width: 0 !important;
}

#jumbo {
	background: #404496;
	text-align: center;
	position: relative;
}

#tagline {
	height: 2em;
	line-height: 2em;
	font-size: 500%;
	color: white;
	text-shadow: 1px 1px 1px #55a;
	font-family: 'Marck Script', cursive;	
}

#jumbo > img {
	line-height: 2em;
	font-size: 500%;
	height: 1em;
	margin-right: 25px;
	position: relative;
	top: -.1em;
}

#jumbo > a {
	font-family: verdana;
	position: relative;
	top: -1em;
	color: #9999ff;
}
#jumbo > a:hover {
	color: #bbbbff;
}

div.picPopup p { text-align: center; }
div.picPopup img.pic { max-width: 100%; cursor: pointer; }
