@import url(//fonts.googleapis.com/css?family=Marck+Script);

div.pic {
	background: #aaa;
	/* width: 150px; height: 150px; */
	/* border: 1px solid #555; */
	display: inline-block;
  transition: all .35s ease-in-out;
	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
}

div.pic > img {
	width: 100%; height: 100%;
}

.zeroWidth {
	width: 0 !important;
}

#jumbo {
	background: #404496;
	height: 2em;
	line-height: 2em;
	font-size: 600%;
	color: white;
	text-shadow: 1px 1px 1px #55a;
	font-family: 'Marck Script', cursive;
	text-align: center;
	position: relative;
}

#jumbo > img {
	position: absolute;
	bottom: 20px;
	right: 20px;
	height: 70%;
}